body {
    background-color: rgb(254, 251, 247); 
 }
 h1 {
    text-decoration: underline;
    text-align: center; 
    color: black; 
 }

 h2 {
    text-decoration: underline;
    text-align: left; 
    color: black; 
 }
 li {
    text-decoration:solid;
    font-weight:bold;
    text-align: left; 
    color: black; 
 }
